<form name="input" action="index.php" method="get">
          Data:
	  <input type="text" id="data" name="Data" maxlength="19" value =":DATA:"> <br/>
          Status:
	  <select name="Status" size="3">
            <option :PRZYJETE:>Przyjete</option>
            <option :CZEKA:>CzekaNaOdbior</option>
            <option :ZAKONCZONE:>Zakonczone</option>
          </select>  <br/>
          Id Klienta: 
	  <input type="text" id="idKlienta" name="idKlienta" maxlength="11" value = :IDKLIENTA:> <br/>
          Cena:
	  <input type="text" id="Cena" name="Cena" maxlength="11" value = :CENA:> <br/>
          Czas Naprawy:
	  <input type="text" id="CzasNaprawy" name="CzasNaprawy" maxlength="10" value = :CZASNAPRAWY:> <br/>
          Rabat:
	  <input type="text" id="Rabat" name="Rabat" maxlength="11" value = :RABAT:> <br/>
          
          <input type="hidden" name="idZlecenia" value=":IDZLECENIA:" />
          
          <input type="hidden" name="subpage" value="ZleceniaPracownik" />
          
	  <sub><button type=”submit” name="action" value="edytujPotwierdz">Potwierdź zmiany</button></br></sub>
</form>