<form name="input" action="index.php" method="get">
          Nazwa:
	  <input type="text" id="nazwaSprzet" name="nazwaSprzet" maxlength="30"> <br/>
          Typ:    
	  <input type="text" id="typSprzet" name="typSprzet" maxlength="200"> <br/>
          Opis:
	  <input type="text" id="opisSprzet" name="opisSprzet" maxlength="200"> <br/>
          Numer Seryjny: 
	  <input type="text" id="nrSeryjny" name="nrSeryjny" maxlength="30"> <br/>
          Id klienta:
	  <input type="text" id="idKlienta" name="idKlienta" maxlength="10"> <br/>
              
          <input type="hidden" name="subpage" value="SprzetPracownik" />
          
	  <sub><button type=”submit” name="action" value="usunPotwierdz">Dodaj</button></br></sub>
</form>