<form name="input" action="index.php" method="get">
          Login:
	  <input type="text" id="login" name="Login" maxlength="30"> <br/>
          Haslo:    
	  <input type="text" id="login" name="Haslo" maxlength="30"> <br/>
          Imie:
	  <input type="text" id="imie" name="Imie" maxlength="50"> <br/>
          Nazwisko: 
	  <input type="text" id="nazwisko" name="Nazwisko" maxlength="30"> <br/>
          Adres:
	  <input type="text" id="adres" name="Adres" maxlength="200"> <br/>
          E-mail:
	  <input type="text" id="email" name="Email" maxlength="50"> <br/>
          Telefon:
	  <input type="text" id="email" name="Telefon" maxlength="20"> <br/>
              
          <input type="hidden" name="subpage" value="KlienciPracownik" />
          
	  <sub><button type=”submit” name="action" value="dodajPotwierdz">Dodaj</button></br></sub>
</form>