<form name="input" action="index.php" method="get">
      </br></br><a2>
          Login:     
	  <input type="text" id="login" name="Login"> 
          Imie:
	  <input type="text" id="imie" name="Imie">
          Nazwisko:     
	  <input type="text" id="nazwisko" name="Nazwisko"> 
          Adres:
	  <input type="text" id="adres" name="Adres">
          E-mail
	  <input type="text" id="email" name="Email">
              
	  <sub><button type=”submit” name="subpage" value=KlienciPracownik" name="action" value="dodajPotwierdz">Dodaj</button></br></br></sub>
          </form>