<form name="input" action="index.php" method="get">
      </br></br><a2>
          Login:     
	  <input type="text" id="login" name="Login" maxlength="30"> 
          Haslo:     
	  <input type="text" id="login" name="Haslo" maxlength="30">
          Imie:
	  <input type="text" id="imie" name="Imie" maxlength="50">
          Nazwisko:     
	  <input type="text" id="nazwisko" name="Nazwisko" maxlength="30"> 
          Adres:
	  <input type="text" id="adres" name="Adres" maxlength="200">
          E-mail
	  <input type="text" id="email" name="Email" maxlength="50">
          Telefon
	  <input type="text" id="email" name="Email" maxlength="20">
              
	  <sub><button type=”submit” name="subpage" value=KlienciPracownik" name="action" value="dodajPotwierdz">Dodaj</button></br></br></sub>
          </form>