<form name="input" action="index.php" method="get">
          Login:
	  <input type="text" id="login" name="Login" maxlength="30" value=":LOGIN:"> <br/>
          Imie:
	  <input type="text" id="imie" name="Imie" maxlength="50" value =":IMIE:"> <br/>
          Nazwisko: 
	  <input type="text" id="nazwisko" name="Nazwisko" maxlength="30" value=":NAZWISKO:"> <br/>
          Adres:
	  <input type="text" id="adres" name="Adres" maxlength="200" value=":ADRES:"> <br/>
          E-mail:
	  <input type="text" id="email" name="Email" maxlength="50" value=":EMAIL:"> <br/>
          Telefon:
	  <input type="text" id="email" name="Telefon" maxlength="20" value=":TELEFON"> <br/>
              
          <input type="hidden" name="subpage" value="KlienciPracownik" />
          
	  <sub><button type=”submit” name="action" value="edytujPotwierdz">Potwierdź zmiany</button></br></sub>
</form>