<form name="input" action="index.php" method="get">
          Id:
	  <input type="text" id="idKlienta" name="idKlienta" maxlength="30"> <br/>
          Login:
	  <input type="text" id="Login" name="Login" maxlength="30"> <br/>
          Imie:
	  <input type="text" id="Imie" name="Imie" maxlength="50"> <br/>
          Nazwisko: 
	  <input type="text" id="Nazwisko" name="Nazwisko" maxlength="30"> <br/>
          Adres:
	  <input type="text" id="Adres" name="Adres" maxlength="200"> <br/>
          E-mail:
	  <input type="text" id="Email" name="Email" maxlength="50"> <br/>
          Telefon:
	  <input type="text" id="Telefon" name="Telefon" maxlength="20"> <br/>
              
          <input type="hidden" name="subpage" value="KlienciPracownik" />
          
	  <sub><button type=”submit” name="action" value="szukajPotwierdz">Szukaj</button></br></sub>
</form>