<form name="input" action="index.php" method="get">
          Nazwa:
	  <input type="text" id="nazwaCzesci" name="nazwaCzesci" maxlength="20" value=":NAZWA:"> <br/>
          Typ:
	  <input type="text" id="typCzesci" name="typCzesci" maxlength="11" value =":TYP:"> <br/>
          Opis: 
	  <input type="text" id="opisCzesci" name="opisCzesci" maxlength="100" value=":OPIS:"> <br/>
          Cena:
	  <input type="text" id="cenaCzesci" name="cenaCzesci" maxlength="10" value=":CENA:"> <br/>
             
          <input type="hidden" name="idCzesci" value=":IDCZESCI:" />
          
          <input type="hidden" name="subpage" value="CzesciPracownik" />
          
	  <sub><button type=”submit” name="action" value="edytujPotwierdz">Potwierdź zmiany</button></br></sub>
</form>