<form name="input" action="index.php" method="get">
          Nazwa:
	  <input type="text" id="nazwaCzesci" name="nazwaCzesci" maxlength="20"> <br/>
          Typ: 
	  <input type="text" id="typCzesci" name="typCzesci" maxlength="11"> <br/>
          Opis:
	  <input type="text" id="opisCzesci" name="opisCzesci" maxlength="100"> <br/>
          Cena:
	  <input type="text" id="cenaCzesci" name="cenaCzesci" maxlength="10"> <br/>
              
          <input type="hidden" name="subpage" value="CzesciPracownik" />
          
	  <sub><button type=”submit” name="action" value="usunPotwierdz">Usun</button></br></sub>
</form>