<form name="input" action="index.php" method="get">

          Stan:
	  <input type="text" id="stanNaprawy" name="stanNaprawy" maxlength="30" value=":STAN:"> <br/>
          Id zlecenia:
	  <input type="text" id="idZlecenia" name="idZlecenia" maxlength="5" value =":ID_ZLECENIA:"> <br/>
          Id sprzetu: 
	  <input type="text" id="idSprzetu" name="idSprzetu" maxlength="5" value=":ID_SPRZETU:"> <br/>
          Opis:
	  <input type="text" id="opisNaprawy" name="opisNaprawy" maxlength="200" value=":OPIS:"> <br/>
          Cena:
	  <input type="text" id="cenaNaprawy" name="cenaNaprawy" maxlength="10" value=":CENA:"> <br/>
             
          <input type="hidden" name="idNaprawy" value=":IDNAPRAWY:" />
          
          <input type="hidden" name="subpage" value="NaprawyPracownik" />
          
	  <sub><button type=”submit” name="action" value="statusPotwierdz">Edytuj status</button></br></sub>
</form>