<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Language" content="pl" />
  <link rel="stylesheet" href="View/style.css" type="text/css" />
  <title>Serwis komputerowy J&K</title>
  <script type="text/javascript">
// <![CDATA[
function flash(id, kolor, czas, kolor2, czas2)
{
	document.getElementById(id).style.color = kolor;
	setTimeout('flash("' + id + '","' + kolor2 + '",' + czas2 + ',"' + kolor + '",' + czas + ')', czas);
}
// ]]>
</script>

    <style type="text/css">
/* <![CDATA[ */
a:hover { color: yellow; background-color: yellow }
/* ]]> */
</style>

</head>

<body>
<div id="container">
    
<div id="naglowek"></div>
	
<div id="menu">
  <ul>
  <li><a href="index.php?subpage=klienciPracownik&task=index">Klienci</a></li>
  <li><a href="index.php?subpage=zleceniaPracownik&task=index">Zlecenia</a></li>
  <li><a href="index.php?subpage=naprawyPracownik&task=index">Naprawy</a></li>
  <li><a href="index.php?subpage=sprzetPracownik&task=index">Sprzęt</a></li>
  <li><a href="index.php?subpage=czesciPracownik&task=index">Części</a></li>
  <li><a href="index.php?subpage=ustawienia&task=index">Ustawienia</a></li>
  <li><a href="index.php?subpage=zaloguj&task=wyloguj">Wyloguj</a></li>
  </ul>
</div>
	
<div id="lewy">
    <dl>
    <dt>Zarządzanie klientami</dt>
	<dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="index.php?subpage=klienciPracownik&action=index">Pokaż</a></a></dd>
        <dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="index.php?subpage=klienciPracownik&action=szukaj">Szukaj</a></a></dd>
        <dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="index.php?subpage=klienciPracownik&action=dodaj">Dodaj</a></a></dd>
    </dl>
<div id="bottom"></div>
</div>


<div id="srodek">
      <h2>Lista klientów
          <tr>
              <tr>
                  <p>
	  :wynik:
	  </h2>

</div>	

<div id="stopka">
<div id="copyright">Serwis komputerowy J&K</div>
</div>
    
</div>    
</body>
</html>
