<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Language" content="pl" />
  <link rel="stylesheet" href="View/style.css" type="text/css" />
  <title>Serwis komputerowy J&K</title>
  <script type="text/javascript">
// <![CDATA[
function flash(id, kolor, czas, kolor2, czas2)
{
	document.getElementById(id).style.color = kolor;
	setTimeout('flash("' + id + '","' + kolor2 + '",' + czas2 + ',"' + kolor + '",' + czas + ')', czas);
}
// ]]>
</script>

    <style type="text/css">
/* <![CDATA[ */
a:hover { color: yellow; background-color: yellow }
/* ]]> */
</style>

</head>

<body>
<div id="container">
    
<div id="naglowek"></div>
	
<div id="menu">
  <ul>
  <li><a href="#"><a href="index.php?subpage=klienciPracownik&task=index" name = "MAIN_KLIENCI">Klienci</a></a></li>
  <li><a href="#"><a href="View/zlecenia.html" name = "MAIN_ZLECENIA">Zlecenia</a></a></li>
  <li><a href="#"><a href="View/naprawy.html" name = "MAIN_NAPRAWY">Naprawy</a></a></li>
  <li><a href="#"><a href="View/sprzet.html" name = "MAIN_SPRZET">Sprzęt</a></a></li>
  <li><a href="#"><a href="View/czesci.html" name = "MAIN_CZESCI">Części</a></a></li>
  <li><a href="#"><a href="View/ustawienia.html" name = "MAIN_USTAWIENIA">Ustawienia</a></a></li>
  <li><a href="#"><a href="View/wyloguj.html" name = "MAIN_WYLOGUJ">Wyloguj</a></a></li>
  </ul>
</div>
	
<div id="lewy">
<form name="input" action="klienci.php" method="get">
    <dl>
    <dt>Zarządzanie klientami</dt>
	<dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="klienciPracownik.php?pokaz" name = "KLIENCI_POKAZ">Pokaż</a></a></dd>
	<dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="View/klienci.html" name = "KLIENCI_EDYTUJ">Edytuj</a></a></dd>
    <dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="View/klienci.html" name = "KLIENCI_SZUKAJ">Szukaj</a></a></dd>
    <dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="View/klienci.html" name = "KLIENCI_DODAJ">Dodaj</a></a></dd>
    <dd><img src="View/images/ptk.jpg" alt="menu" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><a href="View/klienci.html" name = "KLIENCI_USUN">Usuń</a></a></dd>
    </dl>
</form>
<div id="bottom"></div>
</div>


<div id="srodek">
      <h2>Lista klientów
	  :wynik:
	  </h2>

</div>	

<div id="stopka">
<div id="copyright">Serwis komputerowy J&K</div>
</div>
    
</div>    
</body>
</html>
